<header class="navbar">
  <div class="navbar-inner">
    <div id="nav" class="container">
      <ul id="user-info" class="user-info nav pull-right">
        <li>
          <div class="btn-group">
            <a class="btn btn-primary" href="/auth/github">Log in</a>
          </div>
        </li>
      </ul>
      <h1 id="home" class="brand"><a href="#">GitHUD</a></h1>
    </div>
  </div>
</header>
