<!DOCTYPE html>
<html>
  <head>
    <title>GitHUD</title>
  </head>
  <body>
    <h1>GitHUD</h1>
    <%= body %>
  </body>
  <script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
  </script>
  <script type="text/javascript" src="/js/githud.js"></script>
</html>
