<div id="templates" class="templates">
  <div id="repo-nav-item">
    <a href="https://github.com/{{= handle }}/issues" target="_blank">
      {{= handle }}
    </a>
  </div>

  <ul id="repo-nav-list">
    <li>
      <form class='navbar-form add-repo'>
        <input type="text" placeholder="Add repository" />
      </form>
    </li>
  </ul>

  <div id="stage">
    <h1 style="background-color: #{{= color }}" title="{{= name }}">
      {{= name }}
    </h1>
    <ul class="issues unstyled well"></ul>
  </div>

  <div id="issue">
    <a class="number">#{{= number }}</a>
    <h2>{{= title }}</h2>
    <blockquote>{{= body }}</blockquote>
  </div>

  <div id="login-prompt">
    <h1>Who're you?</h1>
    <p>
      GitHUD keeps everything friendly and secure by using individual access
      tokens to fetch data. Go 'head and log in to start being productive.
    </p>
    <a class="btn btn-large btn-primary" href="/auth/github">
      Log In
    </a>
  </div>
</div>
