<div id="templates" class="templates">
  <ul id="logged-in-user">
    <li><img src="{{= avatar_url }}" /></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{= (name) ? name.split(' ')[0] : login }}
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/logout">Log out</a></li>
      </ul>
    </li>
  </ul>

  <div id="repo-nav-item">
    <a href="https://github.com/{{= handle }}/issues" target="_blank">
      {{= handle }}
    </a>
  </div>

  <ul id="repo-nav-list">
    <li>
      <form class='navbar-form add-repo'>
        <input type="text" placeholder="Add repository" />
      </form>
    </li>
  </ul>

  <div id="stage">
    <h1 style="background-color: #{{= color }}" title="{{= name }}">
      {{= name }}
    </h1>
    <ul class="issues unstyled well"></ul>
  </div>

  <div id="issue">
    {{ if (assignee) { }}
      <img src="{{= assignee.avatar_url }}" />
    {{ } }}
    <h2>
      <a target="_{{= repo.get('handle') }}/{{= number }}"
         href="https://github.com/{{= repo.get('handle') }}/issues/{{= number }}">
        {{= title }}
      </a>
    </h2>
    <blockquote>{{= body }}</blockquote>
  </div>

  <div id="login-prompt">
    <h1>Who're you?</h1>
    <p>
      GitHUD keeps everything friendly and secure by using individual access
      tokens to fetch data. Go 'head and log in to start being productive.
    </p>
    <a class="btn btn-large btn-primary" href="/auth/github">
      Log In
    </a>
  </div>
</div>
