html, body { height: 100%; }

.nav > li:last-child {
  margin-left: 5px;
}

.nav.user-info img {
  width: 40px;
  height: 40px;
}

.stage {
  float: left;
  height: 100%;
  box-sizing: border-box;
}
.stage h1 {
  box-sizing: border-box;
  padding: 5px 10px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.stage h1 .count {
  float: right;
  font-size: 12px;
  color: #666;
}
.stage ul {
  box-sizing: border-box;
  padding: 10px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  background-color: #F0F0F0;
  overflow-y: auto;
}
.stage li {
  display: border-box;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #FFF;
}
.stage li img {
  float: right;
  width: 20px;
  height: 20px;
  margin: 1px;
  border: 1px solid #CCC;
}
.stage li h2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stage li h2 a {
  color: #000;
}
.stage blockquote {
  height: 36px;
  margin: 5px 0;
  padding: 3px 5px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
}

.login-prompt {
  display: border-box;
  width: 600px;
  margin: 25px auto 0;
}
.login-prompt p {
  margin: 20px 0;
}
.login-prompt a {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.templates { display: none; }
